<div class="container">
  <div class="container map-card">
    <h2><%= user.username %></h2>
    <p><%= image_tag "#{user.username}.png", class: "avatar" %></p>
  </div>
    <p><%= user.address %></p>
</div>
