<div class="map-card">
  <h2><%= user.username %></h2>
  <div class="row">
    <div class="col-6">
    <% image_filename = "#{user.username}.png" %>
            <% if File.exist?(Rails.root.join('app', 'assets', 'images', image_filename)) %>
            <p id="avatar"><%= image_tag "#{user.username}.png", class: "avatar" %></p>
            <% else %>
              <p id="avatar"><%= image_tag "MeetupLinkAvatar.png", class: "avatar" %></p>
            <% end %>
    </div>
    <div class="col-6">
    <p id="address"><%= user.address %></p>
    </div>
  </div>
</div>
