<div class="container">
        <div class="share-options">
            <div class="social-media">
              <div class="icon-spacing" style="display: flex; justify-content: space-between;">
                <h3 class="fab fa-whatsapp"></h3>
                <h3 class="fab fa-instagram"></h3>
                <h3 class="fab fa-twitter"></h3>
                <h3 class="fab fa-facebook-f"></h3>
                <h3 class="fab fa-linkedin-in"></h3>
              
              </div>
            </div>
        </div>
    </div>
