<div class="text-container">
  <div class="booking-confirmation-card">
    <div class="booking-header">
      <h1>Your Meetup is confirmed!</h1>
      <%= image_tag 'meetup_logo.png' %>
      <br>
      <div class="link-buttons">
        <%= link_to "Home", root_path, class: "btn btn-primary-view" %>
        <%= link_to "View meetups", meetups_path, class: "btn btn-primary-view"%></a>
      </div>
    </div>
  </div>
</div>
