<div class="container-show-main">
  <div class="col-sm-4">

              <% @meetups.each do |meetup| %>
    <div class="card-meetup-info">
      <div class="card-meetup-info-inner">
        <div class="card-meetup-info-inner-content">
          <br>
          <p>Name: <%= meetup.name %></p><br>
          <p>Event Date: <%= meetup.event_date %></p><br>
          <!-- Add any other meetup attributes you want to display -->

          <!-- Add "View this Meetup" button -->
          <div class="d-flex justify-content-center"><%= link_to "View this Meetup", meetup_path(meetup), class: "btn btn-primary-confview" %></div>
          <br>
            <%= render "meetups/share_passcode" %>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</div>
<%# </div> %>
