<div class="blue-background">
  <br>
  <div class="container">
  <h1>Create a Meetup</h1>
    <div class="card">
      <%= simple_form_for(@meetup) do |f| %>

          <%= f.input :name, input_html: {class: "form-input" } %>
          <%= f.input :event_date, input_html: {class: "form-input" } %>
      <br>
          <%= f.submit class: "form-submit button"  %>
      <% end %>
    </div>
  </div>
</div>
