// Specific CSS for your home-page
html, body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #070123, #2f3d73);
}

.text-container {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  color: white;
  opacity: 0.8;
  user-select: none;
  text-shadow: 1px 1px rgba(0,0,0,0.1);

}

:root {
  --color-bg1: rgb(0, 17, 82);
  --color-bg2: rgb(53, 61, 74);
  --color1: 243,227,201;
  --color2: 41,74,87;
  --color3: 85,71,81;
  --color4: 208,95,90;
  --color5: 174,48,55;
  --color-interactive: 15,196,181;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    display: none;
  }


  .gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 15s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 10s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 25s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 25s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 10s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
    pointer-events: none;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  position: relative;
  z-index: 9999;
  padding-top: 20px;
}

$color_1: var(--color);
$color_2: #fff;
$outline-color_1: var(--color);

.button {
	--b: 3px;
	--s: .45em;
	--color: #84fab0;
	padding: 10px 65px;
	color: $color_1;
	--_p: var(--s);
	background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
	transition: .3s linear, color 0s, background-color 0s;
	outline: var(--b) solid #0000;
	outline-offset: .6em;
	font-size: 20px;
	border: 0;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  z-index: 9999;
  text-decoration: none;
  margin: 5px;

	&:hover {
		--_p: 0px;
		color:white;
		outline-offset: .05em;
	}
	&:focus-visible {
		--_p: 0px;
		outline-color: $outline-color_1;
		outline-offset: .05em;
	}
	&:active {
		background: var(--color);
		color: $color_2;
	}
}


h1 {
  font-size: 55px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 4px;
  margin: 0;
  margin-bottom: 30px;
  z-index: 100000;

  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

h2 {
  font-size: 105px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  margin: 0;
  margin-bottom: 30px;
  z-index: 9999;


  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

@media only screen and (max-width: 700px) {
  h2 {font-size: 20px;}
}

.form-input{
  color:#84fab0;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  border-color: #84fab0;
  z-index: 9999;
}

.form-label {
  color: #84fab0 !important;
  font-size: 30px;
  pointer-events: none;
  z-index: 9999;
  position: relative;
}

.form-submit{
  z-index: 9999;
  position: relative;
}


#passcode-input {
  color:white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  border-color: #84fab0;
  z-index: 9999;
}

.card {
  background-color: transparent;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: default;
  border-radius: 0.75rem;
  position: relative;
  overflow: hidden;
  border-color: #84fab0;
  padding: 80px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}

$green:#84fab0;
$blue:#8FD3F4;
