// body {
//   // background: linear-gradient(to bottom, rgb(39, 5, 57), #374685);
// }
.container-show-main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  // box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  // border: 4px solid rgb(218, 22, 228);
  background: linear-gradient(to bottom, rgb(7, 1, 35), #2f3d73);
  padding-top: 72px;
}

// map {
//   border-radius: 4px;
//   border: solid 2px green;
// }

p {
  color: white;
}

.card-meetup-info {
  // text-align: center;
  overflow: hidden;
  background: #292d53;
  flex-grow: 1;
  display: grid;
  margin-right: 16px;
  // margin-left: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: solid 2px green;
  color: white;
}

.card-meetup-info h1 {
  text-align: center;
  // font-size: max(16px, min(5vmin, 24px));
  // font-size: max(24px, min(5vmin, 16px));
  font-size: 2.5em;
}

.container-show-second {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  // box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  // border: 4px solid rgb(218, 22, 228);
  background: linear-gradient(to top, rgb(7, 1, 35), #2f3d73);
}


.cards {
  // flex-grow: 1;
  // display: grid;
  // margin-right: 10px;
  // margin-left: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  border: 4px solid rgb(218, 22, 228);
}

.card-trip-map {
  overflow: hidden;
  background: white;
  flex-grow: 1;
  display: grid;
  border: 4px solid rgb(218, 22, 228);
  margin-right: 4px;
  margin-left: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-trip {
  overflow: hidden;
  background: white;
  flex-grow: 1;
  display: grid;
  margin-right: 10px;
  // margin-left: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-trip>img {
  height: 130px;
  width: 100%;
  // object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.message-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Align content at the start of the column */
  // width: 100%; /* Take up the full width of the container */
}

.message-content {
  width: 100%;
  /* Take up the full width of the container */
}

.message-send-button {
  width: 100%;
  /* Take up the full width of the container */
}


// border styling to see in development, delete for prod

.container-show-main {
  border: 4px solid rgb(218, 22, 228);
}

.col-sm-2 {
  border: 4px solid rgb(22, 135, 146);
  height: 664px;
  width: max-content;
}
