.map-card-centre {
  background: linear-gradient(to bottom, rgb(50, 138, 71), #0c4c05);
  border-radius: 4px;
  padding: 1.2em;
  border-radius: 32px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.441);
  border: 1.5px solid #a0e7cf;
}

.map-card-centre h2 {
  font-family: Dongle;
  font-size: 54px;
  line-height: 0.8;
  text-align: center;
  color: linear-gradient(to bottom, rgb(17, 5, 83), #374685);
  margin-bottom: 0px;
}

#centre {
  font-size: 1.1em;
  margin-bottom: 4px;
}
