.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  p {
    color: black;
  }
  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}


.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
// .msg-bubble {
//   max-width: 450px;
//   padding: 15px;
//   border-radius: 15px;
//   background: var(--left-msg-bg);
// }

// .left-msg .msg-bubble {
//   border-bottom-left-radius: 0;
// }

// .right-msg {
//   display: flex;
//   flex-direction: row-reverse;
// }
// .right-msg .msg-bubble {
//   background: var(--right-msg-bg);
//   color: black;
//   border-bottom-right-radius: 0;
// }
// .right-msg .msg-img {
//   margin: 0 0 0 10px;
// }
