.mapboxgl-popup-content {
  display: contents;
}

.map-card {
  background: linear-gradient(to bottom, rgb(17, 5, 83), #374685);
  padding: 1.2em;
  border-radius: 32px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.441);
  border: 1.5px solid #a0e7cf;
}

.map-card h2 {
  font-family: Dongle;
  font-size: 54px;
  line-height: 0.8;
  text-align: center;
  border: 4px solid white;
}

.row {
  // border: 4px solid rgb(244, 216, 9);
  display: flex;
  margin-bottom: 8px;
}

.col-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-top: 0%;
}

#avatar {
  margin: 0;
  margin-bottom: 0;
}

.avatar {
  border: 2px solid #a0e7cf;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-left: 0.8em;
}

#address {
  color: white;
  margin-top: 2em;
  margin: 0;
  margin-bottom: 0;
  margin-right: 0.8em;
}
