.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  color: white;
  position: absolute;
  z-index: 100000;
  // box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  width: 100vw;
  padding-bottom: 1px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $green;
  font-size: 24px;

  &:hover {
    color: white;
  }
}

.move-to-right {
  justify-content: flex-end !important;
}

.navbar-nav.me-auto {
  padding-right: 24px;
}
